body {
    font-family: Arial, sans-serif;
}

#url-input {
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
}

#scrape-button {
    width: 150px;
    height: 40px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
